<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>NEWS APP</title>
 <link rel="stylesheet" href="../../../home.css">
 <link rel="stylesheet" href="./view.css">
</head>

<body>
 <section>
  <div class="navigation_container">
   <div class="navigation_logo_container">
    <img src="../../assests/icons8-internet-50.png" alt="logo" class="navigation_logo">
    <h2>NEWS BITS</h2>
   </div>
   <div>
    <ul class="navigation_routes">
     <a class="home" href="/index.html">HOME</a>
     <a class="contact" href="../publish/publish.html">PUBLISH</a>
     <a class="about">ABOUT</a>
    </ul>
   </div>
  </div>
  <div class="view_container">
   <p class="info">In Order To Remain Upto Date With News Situation, We Have Made Our News Open And Free To Edit
    and
    Update By
    EveryOne.</p>
   <p class="red_paragraph">P.S Please Update Only If Your Information Is Genuine.</p>
   <div class="view_inner_container">
    <div class="reporter_info_container">
     <img src="../../assests/icons8-internet-50.png" alt="avatar" width="30%">
     <div class="reporter_detail">
      <h4>AUTHOR NAME: </h4>
      <h4>NEWS TITLE: </h4>
      <h4>UPDATED BY: </h4>
     </div>
    </div>
    <div class="news_body">
     <p class="news_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni recusandae sequi alias
      voluptatem laborum, ab
      ipsam ipsum earum sapiente velit cumque, voluptates ratione mollitia unde placeat dolor blanditiis reiciendis quam
      corrupti illo quos. Id possimus obcaecati, praesentium repellendus hic quo debitis cumque at esse eos porro sed
      distinctio nobis minus delectus fugit labore facilis non autem tenetur architecto vero? Incidunt nesciunt aliquid
      eum vero maxime temporibus nam impedit fugit eligendi. Delectus blanditiis, omnis praesentium tempore
      exercitationem, harum quod, id sunt sint ad magni deleniti facere? Sed vel quaerat dicta nulla facere ipsa
      doloremque, vero explicabo provident dolorem consequatur eum officiis saepe rem, consequuntur magnam aliquam
      officia pariatur exercitationem eius. Officia fugit aliquam mollitia dolorem distinctio, totam quaerat error
      voluptatum rerum quidem eaque culpa natus nesciunt aut ut blanditiis dicta doloremque quas iusto eligendi
      consequatur ad! Atque rem pariatur exercitationem aut neque dolores esse sit dicta quasi accusamus consectetur
      placeat ullam ea dolorum alias id ad, a eius numquam delectus maiores impedit sapiente? Praesentium illo, nam
      nesciunt incidunt voluptas magnam nisi veniam ipsum nemo magni sapiente dolore tempore, alias quisquam est ipsa
      asperiores laborum suscipit ut inventore possimus fugiat! Tempora accusamus quibusdam totam dolore quo explicabo
      beatae laborum. Nihil possimus vitae adipisci non! Fuga distinctio soluta impedit? Accusamus, fuga? Fugiat unde
      perspiciatis assumenda vitae dolorum, obcaecati placeat distinctio quisquam fuga, beatae similique ipsa molestias
      corrupti pariatur ex voluptatum et suscipit. Eligendi quaerat modi laudantium exercitationem delectus quasi
      doloribus eum. Modi necessitatibus veniam sit magni facilis distinctio accusamus. Numquam, a quae blanditiis
      aperiam eveniet, minus velit quas quibusdam laborum libero illum corrupti cum repellendus natus non aspernatur
      temporibus id, odio accusamus? Neque assumenda dolorem nisi, necessitatibus odio quibusdam non eveniet porro
      accusamus eligendi asperiores consequuntur itaque tempora molestias rerum et facilis dolores error explicabo!
      Dignissimos ea numquam dolorem deleniti quidem nesciunt repellendus, repellat doloribus voluptas? Molestias
      deserunt repudiandae eius magni necessitatibus corporis ducimus vitae tenetur incidunt voluptas accusamus
      aspernatur distinctio nemo quisquam iste ipsum quae dolorem, possimus cupiditate? Commodi sint, temporibus dolorum
      consequuntur a recusandae architecto incidunt suscipit nam quia ab nemo neque deleniti doloribus provident et
      numquam eius culpa, molestiae eum at animi vel ut? Sit, veritatis at iusto illum molestiae nisi ducimus architecto
      officiis laudantium tempore! Eos autem ipsa debitis amet nesciunt eveniet nisi, a quod labore, vero, vitae
      consequuntur obcaecati? Dolor mollitia adipisci ullam. Architecto in quae, blanditiis adipisci tenetur officia
      vitae cumque, sed alias dolore nisi laborum nobis mollitia ab autem amet. Labore omnis, velit iste cupiditate
      delectus nisi corporis, dolore adipisci officia repellat illum ipsam eius libero neque illo fuga possimus dolores
      voluptatum quae ducimus placeat consectetur aut mollitia? Repellendus animi nobis aliquam, enim inventore dolor
      itaque veritatis dolores porro dolorum accusamus, optio magni earum? Fugit in quod sunt eum iusto corrupti
      molestiae est eveniet harum a! Illo reiciendis doloremque exercitationem autem! Porro necessitatibus illo
      accusamus doloremque laudantium cum placeat suscipit, dolore aliquid amet eos perferendis officiis temporibus, et
      possimus eveniet beatae quaerat natus sed. Ipsa amet dicta porro officia laborum et vitae similique minima atque.
      Pariatur!</p>
    </div>
    <div class="news_actions">
     <!-- edit paragraph funtionality -->
     <a href="" class="edit">EDIT</a>
     <!-- Update modal functionality -->
     <a href="" class="update">UPDATE</a>
    </div>
   </div>
  </div>
  <footer class="footer_container">
   <div class="copyright">
    copyright&copy; Bragi 2023
   </div>
   <p>TERMS AND CONDITIONS</p>
   <div class="footer_links">
    <img src="../../assests/facebook.png" alt="facebook" width="30">
    <img src="../../assests/linkedIn.png" alt="LinkedIn" width="30">
    <img src="../../assests/twitter.png" alt="Twitter" width="30">
   </div>
  </footer>
 </section>
</body>
<script src="./view.js"></script>

</html>